.custForm{
    background-color: bisque;
    text-align: center;
}
nav{
    height: 80px;
}
nav img{
    height: 120%;
}
form{
    height: 690px;
}
form input{
    padding: 5px 55px 5px 55px;
   border: 1px lightgray solid ;
   border-radius: 5px;
   
}

form button.btn{
    padding-left: 35px;
    padding-right:35px ;
    background-color: rgb(241, 181, 107);
}
form button.btn a{
    padding-left: 15px;
    padding-right:15px ;
    background-color: rgb(241, 181, 107);
    text-decoration: none;
    color:rgb(99, 85, 28); ;
    
}
form hr{
    margin: 15px 200px 15px 200px;
}